*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFCE32;
}
.navbar{
    position: sticky;
    padding: 0 20px;
    z-index: 2;
    width: 100%;
    height: 60px;
    background-color: #FFCE32;
    border: solid 3px black;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
    top: 0%;
}

.navbar__logo{
    font-size: 20px;
    font-weight: bold;
    color:  black;
        margin: 20px;
    padding: 10px;
}
.essentials{
    display: flex;
    justify-content: space-around;
    gap: 20px;  
    align-items: center;
}
.essentials a{
    color: black;
    text-decoration: none;
    font: bold 16px sans-serif;
    padding: 10px;
}

.navbar__auth{
    display: flex;
    justify-content: space-around;
    gap: 20px;  
    align-items: center;
    position: absolute;
    right:0%;
    margin:10px;
    padding: 10px;
}
.navbar__auth .login{
    color:#1D63FF;
    text-decoration: none;
    border: solid 3px #1D63FF;
    padding: 10px;
    border-radius: 10px;
}
.navbar__auth .signup{
    background-color: #1D63FF;
    text-decoration: none;
    color: white;
    border: solid 3px #1D63FF;
    padding: 10px;
    border-radius: 10px;
}

.navbar__auth .login:hover{
    background-color: #1D63FF;
    color: white;
    transition: 0.5s;
}
.navbar__auth .signup:hover{
    background-color: #FFCE32;
    color: #1D63FF;
    transition: 0.5s;
}

.navbar__auth .profile{
    color: #1D63FF;
    text-decoration: none;
    border: solid 3px #1D63FF;
    padding: 10px;
    border-radius: 10px;
}

.navbar__auth .profile:hover{
    background-color: #1D63FF;
    color: white;
    transition: 0.5s;
}

.navbar__auth .logout{
    color: white;
    background-color: #1D63FF;
    text-decoration: none;
    border: solid 3px #1D63FF;
    padding: 10px;
    border-radius: 10px;
}
.navbar form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCE32;
    margin: 5rem;
    border-radius: 10px;
}

.navbar form input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border:solid 3px brown;
    font-size: larger;
    padding:5px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #FFCE32;
}

.navbar form button{
    width: 100px;
    height: 40px;
    border:solid 3px brown;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.navbar form button:hover{
    background-color: orange;
    color: black;
    transition: 0.5s;
    width: 105px;
    height: 42px;
}

.navbar form input:hover{
    border:solid 3px orangered;
    background-color: #FFCE32;
    transition: 0.5s;
    width: 405px;
    height: 42px;
}

.navbar form input:focus{
    border:solid 3px red;
    background-color: #FFCE32;
    transition: 0.5s;
}

.navbar form select{
    width: 130px;
    height: 40px;
    border:solid 3px brown;
    color: brown;
    text-shadow: 1px 1px 1px black;
    font-size: larger;
    padding:5px;
    border-right: none;
    background-color: #FFCE32;
    overflow: auto;
}

.navbar form select:hover{
    border:solid 3px orangered;
    background-color: #FFCE32;
    transition: 0.5s;
    width: 135px;
    height: 42px;
}

.navbar__auth .logout:hover{
    background-color: #FFCE32;
    color: #1D63FF;
    transition: 0.5s;
}

.essentials a:hover{
    color: red;
    transition: 0.5s;
}

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.signup-container h1{
    font-size: 30px;
    font-weight: bold;
    color: #1D63FF;
}

.signup-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.signup-container div input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px #1D63FF;
    padding: 10px;
    margin: 20px;
    overflow: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

.signup-container div button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px #1D63FF;
    background-color: #1D63FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
}
  
.video-background {
    position: relative;
    z-index: -1;
    color: white;
    text-align: center;
    width: 100%;
    height: 60%;;
    border: solid 3px black;
  }
  
.Hero{
    position: absolute;
    z-index: 1;
    top: 50px;
}
.Hero pre{
    padding: 20px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:crimson;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 10px 10px 10px black ;
}

.all-blogs {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 15px 0;
    border: solid 3px black;    
}

.scroll-content {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.scroll-content:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.blog-card {
    min-width: 250px;
    height: 150px;
    margin-right: 20px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
}

.all-blogs::before,
.all-blogs::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.all-blogs::before {
    left: 0;
    background: linear-gradient(to right, #FFCE32 0%, rgba(255,255,255,0) 100%);
}

.all-blogs::after {
    right: 0;
    background: linear-gradient(to left, #FFCE32 0%, rgba(255,255,255,0) 100%);
}



.blog{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: solid 2px black;
    border-radius: 10px;
    margin: 20px;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.blog img{
    width: 100%;
    height: 80%;
    border: solid 2px black;    
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog:hover{
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px black;
}

  